.terminal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
  padding: 0px;
  overflow: hidden;
}

.terminal-output {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 12px;
  padding: 20px;
}

.terminal-line {
  margin-bottom: 6px;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.5;
}

.terminal-line-output {
  color: #34d399;
}

.terminal-line-input {
  color: #f8fafc;
}

.terminal-line-system {
  color: #facc15;
  text-shadow: 0 0 6px rgba(103, 232, 249, 0.5);
}

.terminal-line-error {
  color: #ef4444;
}

.history-prompt {
  color: #22c55e;
}

.history-command {
  color: #f8fafc;
}

.terminal-prompt-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.terminal-prompt {
  color: #22c55e;
  white-space: nowrap;
}

.terminal-input {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;
  color: #f8fafc;
  font: inherit;
  width: 100%;
  caret-color: transparent; /* 🔥 hide default cursor */
}
/* 🔥 Title Bar */

.title-bar {
  height: 36px;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-shrink: 0;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.title-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-right {
  font-size: 12px;
  color: #ccc;
}

.os-name {
  font-size: 12px;
  margin-left: 8px;
  color: #ccc;
}

/* Mac-style buttons */

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.red {
  background: #ff5f56;
}

.yellow {
  background: #ffbd2e;
}

.green {
  background: #27c93f;
}
.input-wrapper {
  position: relative;
  flex: 1;
}
.block-cursor {
  position: absolute;
  width: 10px;
  height: 1.2em;
  background: white;
  animation: blink 1s steps(1) infinite;
  left: calc(8px * var(--char-count));
  animation: blink 1s steps(1, end) infinite;
}
@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
